:root {
    --color: #c9ac84;
}

html, body {
    cursor: url(../images/cursor.png), default;
    width: 100%;
    height: 100%;
    padding: 0;
    color: var(--color);
    text-shadow: 0px 0px 1px black;
    background-color: #0d0607;
    margin: auto;
    padding: 20px;
    font-family: sans;
}

* , *:before, *:after{
     box-sizing:border-box;
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     -ms-box-sizing:border-box;
   }

input {
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    border: solid 1px black;
    text-align: center;
    font-size: inherit;
}

button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: solid 1px #382505;
    background-color: inherit;
    cursor: inherit;
}

select {
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    border-width: 0;
    padding-left: 4px;
    font-size: inherit;
    appearance:none;
    -moz-appearance: none !important;
    -webkit-appearance:none;
    cursor: url(../images/cursor.png), default;
    background-image: url(../images/option.png);
    width: 151px;
    height: 30px;
    margin-right: 10px;
    text-overflow: ellipsis;
}

select.Upgrade {
    background-image: none;
    background-size: cover;
    width: 30px;
    border: solid 1px #382505;
    text-align: center;
    text-overflow: clip;
}
select.Upgrade:hover {
    background-image: none;
    border-color: #6f4909;
}
select.Upgrade {
    margin-right: 0;
}

select:hover {
    background-image: url(../images/option_hover.png);
}

select.ColorPicker {
    background-image: none;
    width: 45px;
    border: solid 5px #382505;
    animation: FlagAnimation 3s linear infinite;
}
@keyframes FlagAnimation {
    0%{background-position:0% 0%}
    100%{background-position:200% 0%}
}
select.ColorPicker:hover {
    border-color: #6f4909;
}

select option {
    height: 25px;
    padding-left: 6px;
    background-color: #222222;
    line-height: 100%;
}

select option:checked {
    box-shadow: inset 25px 25px #3a3a3a;
}

img.Upgrade {
    border: solid 1px #6f4909;
    width: 30px;
    height: 30px;
    opacity: 0.2;
}
img.Upgrade.Selected {
    opacity: 1;
}

div.UpgradesSeparator {
    display: inline;
    margin: 8px;
}

hr {
    color: #271a12;
    border: 1px solid;
    border-top-width: 0;
}

.UnitPickerContainer {
    border: 1px solid #382505;
    padding: 20px;
    margin: 0px auto;
    background-color: #1d1008;
}
.UnitPickerContainer .PickerRow * {
    vertical-align: middle;
}

#unitPickerContainer div {
    margin-bottom: 12px;
}

canvas.UnitImage {
}

.UnitPickerContainer .Upgrades {
    display: inline;
    margin-left: 20px;
}

.PropertiesTable {
    border: 1px solid #382505;
    margin: 20px auto;
    background-color: #1d1008;
    width: 100%;
}

.PropertiesTable td {
    padding-left: 8px;
    font-size: small;
}

td.Header {
    font-size: medium;
    padding: 2px 8px;
    background-color: #382505;
}
td.Subheader {
    font-size: small;
    width: 50px;
    text-align: right;
}
td.Header.Separator {
    padding: 2px 0 0 0;
}

.BorderedRow td {
    border-bottom: dotted 1px #382201;
}

td .Bar {
    height: 15px;
    display: inline-block;
}

td .BarValue {
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    height: 15px;
    position: relative;
    bottom: 3px;
    margin-left: 2px;
}

td .BarImage {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 2px;
}

sup {
    font-size: smaller;
}
.Notes {
    font-size: small;
}

.Credentials {
    text-align: center;
    font-size: smaller;
}
.Credentials a:link {
    color: var(--color);
}
.Credentials a:visited {
    color: var(--color);
}
.Credentials a:hover {
    color: white;
}
